body {
    width: 100%;
    margin: 0;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
   /* background-color: #999; */

}



nav {
    background-color: white;
   /*background-color: aqua;*/
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 0;
}

.navlist {
    font-family: Staatliches;
    font-size: 24px;
    margin-right: -2%;
    padding: 0;
    margin-top: 4%;
    list-style-type: none;
}

.nav_item {
    display: inline-block;
}
.navlist a {
    color: #000000;
    list-style-type: none;
    text-decoration: none;
}

li a {
    
    text-decoration: none;
    color: azure;
    display: block;
    
}

#logo {
    margin: 0;
    padding: 0;
    font-size: 28px;
    font-family: Pacifico;
}

#logo a {
    text-decoration: none;
    list-style-type: none;
    color: #000000;
}

li {
    margin-left: 30px;

}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100;
    height: 70vh;
    /*background-color: antiquewhite;*/
}

header div p {
    margin-top: 8%;
    margin-left: 8%;
    color: white;
    text-align: left;
}

header div h3 {
    margin-left: 8%;
    color: white;
    text-align: left;
    font-size: 45px;
}

#shadow1 {
    margin-left: -15em;
    position: absolute;
    z-index: 0;
    width: 150vh;
    height: 70vh;
    background-color: rgba(237, 238, 238, 0.623);
}

#bigbox {
    margin-left: 750px;
    margin-top: -10%;
    z-index: 3;
    width: 60%;
    height: 60%;
    background-color: #525252;  
    
}

.threebox {
    display: flex;
    justify-content: flex-end;
    width: 90%;
    height: 10vh;
    /*background-color: coral;*/
    position: absolute;
    
}


    

.box {
    /*margin-top: -7em;
    margin-right: -13em;*/
    display: inline-block;
    background-color: #979797;
    width: 300px;
    height: 250px;
    margin: 5px;
    margin-left: 2em;
    margin-top: -8%;
}

.middletext {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
   /*background-color: brown;*/
    width: 100%;
    height: 50vh;
}

#text1 {
    text-align: left;
    margin-top: 20vh;
    justify-content: center;
    font-size: 40px;
    margin-left: 10%;
}

#text2 {
    justify-content: center;
    text-align: left;
    margin-top: 20vh;
    font-size: 20px;
    margin-right: 12em;
}

.grid1 {
    margin: 0;
    display: flex;
    justify-content: space-between;
    height: 70vh;
    width: 100%;
   /*background-color: darksalmon;*/
    
}

.item-1 {
    width: 400px;
    height: 400px;
    background-color: #dfdfdf;
    margin: 20px;
    margin-top: 7%;
}


.item-2 {
    margin-top: 7%;
   
}

.item-2 h2 {
    font-size: 50px;
}

.item-3 {
    margin-top: 5%;
    margin-right: -7%;
}

.item-3 h3 {
    font-size: 50px;
    transform: rotate(90deg);
}

.grid2 {
    margin: 0;
    display: flex;
    justify-content: space-between;
    height: 70vh;
    width: 100%;
    /*background-color: rgb(170, 87, 60);*/
    
}

.item-4 {
    margin-top: 7%;
    margin-left: 1%;
}

.item-4 h2 {
    font-size: 40px;
}



.item-5  {
    width: 400px;
    height: 500px;
    background-color: #dfdfdf;
    margin-top: 5%;
    
   
}

.item-66 {
    z-index: 0;
    margin-top: -5%;
    margin-left: 60%;
    position: absolute;
    width: 280px;
    height: 400px;
    background-color: #e9e9e9;
 
    
}

.item-6 {
    z-index: 3;
    margin-right: -3%;
    width: 280px;
    height: 400px;
    background-color: #b1b1b1;
 
    
}


.textalone {
    display: flex;
    justify-content: center;

    width: 100%;
    height: 25vh;   
  /* background-color: cadetblue;*/
}

.textalone h1 {
    margin-top: 8%;
    text-align: center;
    font-size: 50px;
}

.shadow-item7 {
    position: absolute;
    /*background-color: indianred;*/
    width: 80%;
    height: 70vh;
}

.item-77 {
    position: absolute;
    margin-left: -15%;
    z-index: 1;
    background-color: #e9e9e9;
    width: 400px;
    height: 500px;
}
.item-7 {
    position: absolute;
    margin-left: 1%;
    margin-top: 3%;
    z-index: 3;
    background-color: #b1b1b1;
    width: 400px;
    height: 500px;
}

.shadow-text {
    margin-top: 8%;
    margin-left: 60%;
}

.shadow-text h2 {
    font-size: 50px;
}


.shadow-item8 {
    display: flex;
    justify-content: space-between;
    margin-top: 70vh;
    width: 100%;
    height: 70vh;
   /* background-color: orchid;*/
}

.shadow-text2{
    margin-top: 8%;
    margin-left: 10%;
}

.shadow-text2 h2 {
    font-size: 50px;
}


.item-88 {
    position: absolute;
    z-index: 3;
    margin-top: 3%;
    margin-left: 50%;
   
    width: 500px;
    height: 400px;
    background-color: #b1b1b1;
}

.item-8 {
    position: absolute;
    z-index: 1;
    margin-left: 57%;
    background-color: #e9e9e9;
    width: 500px;
    height: 400px;
}

.container {
    
    justify-content: space-between;

    /*background-color: aquamarine;*/
    width: 100%;
    height: 60vh;
}


.playlist {
    margin-left: 50%;
    margin-top: -33%;
    text-decoration: none;
    align-content: center;
    text-align: center;
}

.playlist ul {
    list-style-type: none;
    
}

.playlist ul li {
    font-family: tahoma;
    margin-bottom: 50px;
    font-size: 20px;
}

.vid1 {
    color: #000000;
}

.vid2 {
    color: #535353;

}

.vid3 {
    color: #757575;
}

.textBigBox {
   /* background-color: wheat;*/
    width: 100%;
    height: 50vh;
    margin-top: -5%;
    display: flex;
    justify-content: space-between;
    
}

.italic-text {
    margin-top: 10%;
    margin-left: 0;
    text-align: left;
    font-size: 22px;
}

.BigBox {
    
    width: 750px;
    height: 500px;
    margin-top: -10%;
    background-color: rgba(238, 238, 238, 0.945);
}

.textalone2 {
    text-align: center;
    margin-top: -4%;
    width: 100%;
    height: 25vh;
   /* background-color: tomato;*/
}

.mark {
    transform: rotate(180deg);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    margin-top: 8%;
    width: 100%;
    height: 10vh;    
    font-size: 120px;
}

.textalone2 h2 {
    margin-top: 0;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

.small-shadow-box {
    width: 100%;
    height: 80vh;
   /* background-color: sienna; */
}

.small-box1 {
    margin-top: 5%;
    margin-left: 15%;
    width: 350px;
    height: 580px;
    background-color: rgb(226, 226, 226);

}

.small-box2 {
    margin-top: -49%;
    margin-left: 20%;
    width: 350px;
    height: 580px;
    background-color: rgb(146, 146, 146);

}

.bigalone {
    display: flex;
    justify-content: end;
    width: 100%;
    height: 45vh;
   /* background-color: burlywood; */
}

.boxalone {
    margin-top: -30%;
    margin-left: 10%;
    width: 600px;
    height: 700px;
    background-color: #dddddd;
}

.hilltext {
    margin-left: 10%;
    margin-top: 8%;
}
.hilltext h1 {
    font-size: 50px;
}

footer {
    margin-top: 20%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50vh;
    background-color: #1f1e1e;
}

footer ul {
    list-style-type: none;
}

footer a {
    
    text-decoration: none;
    list-style-type: none;
}





.footer-left {
    margin-top: 0;

}
.footer-left .logo {
    font-size: 32px;
    margin-top: 10%;
    font-family: Pacifico;
    margin-bottom: 20%;
    
}

.footer-left address {
    font-size: 18px;
    margin-top: 10%;
    color: #b9b5b5;
    
}

.footer-center {
    margin-top: 0;
}

.footer-center h3 {
    font-size: 40px;
    
    margin-left: -5%;
}

.footer-center p {
    font-size: 20px;
    color: #b9b5b5;
    margin-left: -5%;
}

.footer-right {
    font-family: Staatliches;
    font-size: 22px;
    margin-top: 25%;
    
   
}

.footer-right a {
    color: rgb(180, 180, 180);
}

.footer-right a .active {
    color: rgb(255, 255, 255);
}


.footer-right1 {
    margin-right: 5%;
}

.footer-right li {
    
    margin-bottom: 10%;
    
}





.input-container {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 15%;
    margin-left: -3%;
}
  
.icons {
      margin-top: 10%;
      margin-left: 5%;
}

.icon {
    padding: 10px;
    color: white;
    min-width: 50px;
    text-align: center;
}
  

.input-field {
    width: 100%;
    padding: 10px;
    outline: none;
}

 
.btn {
    background-color: dodgerblue;
    color: white;
    padding: 20px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
  
.fa {
    padding: 10px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
  

